:root {
  --oui-font-family: 'Roboto', sans-serif;
  --oui-font-size-base: 15px;

  /* colors */
  --oui-color-primary: 139 196 94;
  --oui-color-primary-light: 156 220 106;
  --oui-color-primary-darken: 110 160 70;
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 189 107 237;
  --oui-color-link-light: 217 152 250;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 180 180 180;
  --oui-color-quaternary: 120 120 120;

  --oui-color-danger: 255 69 123;
  --oui-color-danger-light: 255 120 160;
  --oui-color-danger-darken: 210 40 90;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 156 220 106;
  --oui-color-success-light: 180 240 140;
  --oui-color-success-darken: 120 180 80;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 17 17 17;
  --oui-color-fill-active: 24 24 24;

  --oui-color-base-1: 30 30 30;
  --oui-color-base-2: 40 40 40;
  --oui-color-base-3: 55 55 55;
  --oui-color-base-4: 80 80 80;
  --oui-color-base-5: 15 15 15;
  --oui-color-base-6: 0 0 0;
  --oui-color-base-7: 15 15 15;
  --oui-color-base-8: 30 30 30;
  --oui-color-base-9: 15 15 15;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 60 60 60;

  --oui-color-trading-loss: 255 69 123;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 156 220 106;
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 40 0 97;
  --oui-gradient-primary-end: 189 107 237;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 255 255 255;
  --oui-gradient-brand-end: 255 255 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 1px;
  --oui-rounded: 1px;
  --oui-rounded-md: 30px;
  --oui-rounded-lg: 1px;
  --oui-rounded-xl: 1px;
  --oui-rounded-2xl: 1px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px !important;
}